c:\Users\user\AppData\Local\Temp\Rar$DRa10376.14157\static\LibreFranklin-Bold.ttf
c:\Users\user\AppData\Local\Temp\Rar$DRa10376.29556\static\LibreFranklin-Regular.ttf
c:\Users\user\AppData\Local\Temp\Rar$DRa808.37257\Pacifico-Regular.ttf
c:\Users\user\AppData\Local\Temp\Rar$DRa20952.47934\static\PlayfairDisplay-Regular.ttf
c:\Users\user\AppData\Local\Temp\Rar$DRa17212.6563\Lato-Regular.ttf
c:\Users\user\AppData\Local\Temp\Rar$DRa18648.13489\Poppins-Bold.ttf
c:\Users\user\AppData\Local\Temp\Rar$DRa18648.15577\Poppins-Regular.ttf