.contact {
    background-image: url("../img/contact-bg.jpg");
    background-repeat: no-repeat;
    padding: 150px 0px;

    .contact__container {
        display: flex;
        align-items: center;

        .contact__title {
            font-family: Poppins;
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 0em;
            margin-bottom: 10px;
        }

        .contact__text {
            font-family: Libre Franklin;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            color: #6C6C6C;
            width: 418px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .contact {

        .contact__container {
            flex-direction: column;
            text-align: center;

            .contact__title {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}